[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = http://github.com/opscode-cookbooks/apache2
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = http://github.com/opscode-cookbooks/apt
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = http://github.com/opscode-cookbooks/build-essential
[submodule "cookbooks/xml"]
	path = cookbooks/xml
	url = http://github.com/opscode-cookbooks/xml
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = http://github.com/opscode-cookbooks/mysql
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = http://github.com/opscode-cookbooks/php
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = http://github.com/opscode-cookbooks/git
[submodule "cookbooks/composer"]
	path = cookbooks/composer
	url = https://github.com/faboo03/cookbook-composer
